html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow-x: hidden !important;
}

@font-face{font-family:'graphik-web';src:url('https://zoomforth-static.s3.amazonaws.com/fonts/graphik-regular-webfont.ttf');font-weight:normal;font-style:normal}

@font-face {
  font-family: BespokeOne;
  src: url("Bespoke1.otf");
}
@font-face {
  font-family: BespokeTwo;
  src: url("Bespoke2.otf");
}
@font-face {
  font-family: BespokeThree;
  src: url("Bespoke3.otf");
}

.shade {
  background-color: rgba(0,0,0,0.45);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.menu {
  width: 22.5%;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  box-shadow: -25px 0 0 0 rgba(0,0,0,0.10);
}

.menu h1 {
  margin-right: 5vw;
  font-size: 2.5vw;
  line-height: 4.75vw;
  text-align: right;
}

.menu h1:first-of-type {
  margin-top: 5.5vw;
  margin-top: 14.5vw;
}

.contact {
  position: absolute;
  bottom: 5vw;
}

body {
  font-family: "PlainLight";
  color: #333;
  overflow: hidden;
}

.container {
  width: 78vw;
  margin: 0 auto;
  position: relative;
}

.intro, .nav {
  padding-top: 6vw;
}

.intro {
  padding-bottom: 7.5vw;
  padding-top: 15vw;
}

.menu-img:hover {
  opacity: 1;
}

.intro h1 {
  font-size: 2.5vw;
  line-height: 3.5vw;
}

.intro h2 {
  font-size: 35px;
  opacity: 0.4;
  padding-top: .75vw;
}

.grid-container {
  width: 100%;
  clear: both;
  display: block;
}

.grid-container:after {
  clear: both;
  content: "";
  display: block;
}

.col-most {
  width: 75%;
  display: inline-block;
  vertical-align: top;
}

.col-half {
  width: 43.5%;
  width: 46%;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.col-quart {
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.right {
  float: right;
}

.col-half img {
  width: 100%;
}

.main, .last {
  padding-top: 10vw;
}

.main:first-of-type {
  padding-top: 13vw;
}

.last {
  padding-bottom: 8.5vw;
}

.margin-top {
  margin-top: 35vw;
}

.back {
  margin-top: -20vw;
}

.text-container {
  margin-top: 3vw;
}

.text-container h1 {
  font-size: 1.5vw;
}

.text-container p {
  font-size: 1.25vw;
  opacity: 0.5;
  margin-top: 1vw;
}

.intro, .gray, .grid-container, .full, .portrait {
  opacity: 0;
  transform: translateY(10vw);
}

.intro, 
.gray, 
.grid-container, 
.full,
.exp-slide1,
.exp-slide2,
.exp-slide3,
.exp-slide4,
.exp-slide5,
.exp-slide6,
.status,
.portrait
  {
  -webkit-transition: all cubic-bezier(0.6, 0.2, 0.1, 1) 1s;
  transition: all cubic-bezier(0.6, 0.2, 0.1, 1) 1s;
}

.menu, .shade, body {
  transition: all cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s; 
}

.menu-img, .menu h1 {
  transition: all cubic-bezier(0.6, 0.2, 0.1, 1) 0.25s;
}

.menu {
  transform: translateX(30vw);
}

.shade {
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
}

.half {
  opacity: 0.5;
}

.project-intro {
  position: absolute;
  left: 0;
  bottom: 0;
}

.bg {
  width: 100%;
}

.full img {
  width: 100%;
}

.gray {
  background-color: #f2f2f2;
}

.brown {
	background-color: #ECECE8;
}

.tan {
  background-color: #F2EFEA;
}

.dark {
  background-color: #131313;
}

.black {
  background-color: black;
  color: white;
}

.med-gray {
  background-color: #E5E5E5;
}

.menu-move {
  transform: translateX(0vw) !important;
}

.shade-show {
  opacity: 1 !important;
  visibility: visible;
}

.menu-img {
  padding-top: 2.25vw;
  width: 5.25vw;
  opacity: 0.5;
  cursor: pointer;
}

.hideDown {
	opacity: 0;
	transform: translateY(2vw);
}

.start {
  margin-top: 8vw;
}

.desc-container {
  width: 61%;
  margin: 0 auto;
  padding: 15vw 0 15vw 0;
	
	width: 52%;
}

.desc-container h1, 
.about-area h1, 
.desc h1, 
.persona h1
{
  font-size: 2vw;
  line-height: 3.5vw;
	
	font-size: 1.5vw;
	line-height: 1.5vw;
}

.desc-container p, .about-area p, .desc p, .desc-container a:link, .desc-container a:visited {
  font-size: 1.5vw;
  line-height: 2.75vw;
  margin-top: 2vw;
  opacity: 0.8;
	
	font-size: 1.25vw;
	line-height: 2.35vw;
}

.hp, .index, .play, .contact, .about, .ibm, .anticv, .twig, .daryl, .cv, .zf, .aspire, .denver {
  cursor: pointer;
  transition: 0.75s cubic-bezier(.19,1,.22,1);
}

.hp img, .ibm img, .anticv img, .twig img, .daryl img, .cv img, .zf img, .aspire img, .denver img {
  transition: 0.75s cubic-bezier(.19,1,.22,1);
}

.hp:hover, .ibm:hover, .anticv:hover, .twig:hover, .daryl:hover, .cv:hover, .zf:hover, .aspire:hover, .denver:hover {
  transform: translate(0, -2%);
}

.col-full {
  width: 100%;
}

.img-stack {
  margin-top: 6vw;
}

.half-stack {
  margin-top: 3vw;
}

.with-margin {
  padding: 15vw 0 15vw 0;
}

.small-margin {
  padding: 6.25vw 0 6.25vw 0;
}

.no-bottom {
  padding-bottom: 7.5vw;
}

.col-full img {
  width: 100%;
}

.gif-image {
  width: 65% !important;
  margin: 0 auto;
  display: block;
  padding: 15vw 0 15vw 0;
}

.index:hover, .about:hover, .play:hover, .contact:hover {
  opacity: 0.5;
}

.fixed-nav {
  width: 100%;
  background-color: white;
  position: fixed;
}

.fixed-nav img {
  width: 4vw;
}

.nav-up {
  top: -50px;
}

.nav-left {
  display: inline-block;
      position: absolute;
      top: 2.5vw;
}

.caro {
  width: 43.5%;
  margin-right: 7vw;
}

.caro img {
  width: 100%;
  display: block;
}

.flickity-viewport {
  overflow: visible !important;
}

.image-cred {
  background-color: white;
  position: absolute;
  bottom: 2vw;
  left: 2vw;
  padding: 1.5vw 2vw 2vw 2vw;
  font-size: 1.25vw;
  transform: translateY(0.5vw);
  opacity: 0;
  max-width: 67%;
  transition: 0.75s cubic-bezier(.19,1,.22,1);
}

.outside {
	background-color: transparent;
	position: static;
	margin-top: 2vw;
	padding: 0;
}

.image-cred h1 {
  line-height: 2vw;
}

.image-cred p {
  padding-top: 0.5vw;
  opacity: 0.5;
  font-size: 1.25vw;
}

.caro:hover .image-cred,  
.col-half:hover .image-cred
{
  opacity: 1;
  transform: translateY(0);
}

.cred-cont:hover .image-cred {
  opacity: 1;
  transform: translateY(0);
}

.cv-video {
  width: 80vw;
  display: block;
  margin: 0 auto;
  padding: 10vw 0;
}

.full-split {
  width: 100%;
  background-color: #CBDBEB;
  height: 47vw;
  position: relative;
  overflow: hidden;
  margin-top: 9vw;
}

.cv-split {
  background-color: black;
  color: white;
}

.pen-img {
  width: 39vw;
  position: absolute;
  bottom: -6vw;
  left: 20vw;
  cursor: pointer;
}

.pen-img img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: -2vw;
  transition: all cubic-bezier(0.2, 0.2, 0.1, 0.6) 0.4s;
}

.square {
  width: 22.5vw;
  height: 22.5vw;
  position: absolute;
  border: 15px solid white;
  bottom: 22vw;
  left: 12vw;
  transition: all cubic-bezier(0.2, 0.2, 0.1, 0.6) 0.4s;
}

.twig-text {
  position: absolute;
  width: 60vw;
  left: 14vw; 
  top: 12vw;
  margin: auto;
  transition: all cubic-bezier(0.2, 0.2, 0.1, 0.6) 0.4s;
  cursor: pointer;
}

.pen-img:hover .desc-cont {
  opacity: 1;
  width: 8.5vw;
  height: 4.5vw;
  padding-top: 0.2vw;
}

.pen-img:hover .desc-cont p {
  opacity: 0.6;
  transition-delay: 0.15s;
}

.pen-img:hover .desc-cont h3 {
  opacity: 0;
  -webkit-transition: all cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s;
  transition: all cubic-bezier(0.6, 0.2, 0.1, 1) 0.1s; 
}

.cv-split h1 {
  font-size: 3.75vw;
  text-align: center;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  display: table;
  width: 82%;
  padding: 10vw;
}

.cv-split h1:hover {
  cursor: pointer;
}

.scope {
  width: 40vw;
  position: absolute;
  z-index: 5;
  left: 0; right: 0;
  top: 10vw;
  margin: auto;
}

.scope-container {
  height: 95vw;
  overflow: hidden;
  position: relative;
}

.trace {
  position: absolute;
  width: 39vw;
  position: absolute;
  left: 25.25vw;
  top: 10.9vw;
}

.light-gray {
  background-color: #FFFDFF;
}

.sandbox {
  width: 65%;
  margin: 0 auto;
  display: block;
  padding: 10vw 0 6vw 0;
}

.portrait {
  width: 100%;
  margin: 0 auto;
  display: block;
  margin-top: 2.5vw;
}

.about-area .col-half, .desc .col-half {
  float: right;
  width: 65%;
}

.about-area p, .desc p {
  margin-top: 0;
}

.about-area {
  margin-top: 10vw;
}

.desc {
  margin-top: 10vw;
}

.desc .clients {
  width: 32%;
}

.end {
  margin-bottom: 15vw;
}

.blue {
  background-color: #CCDBEB;
}

.blue img {
  width: 45%;
  margin: 0 auto;
  display: block;
}

.reg-vid {
  width: 100%;
}
.mob {
  display: none;
}

.menu-img .mob {
  position: absolute;
  top: 10vw !important;
  left: 0;
}

.caro-cont:after {
  content: 'flickity';
  display: none;
}

.about-area a:link, .about-area a:visited {
  color: #333;
  opacity: 1;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 0.25vw;
  transition: all cubic-bezier(0.2, 0.2, 0.1, 0.6) 0.2s;
}

.clients a:link, .clients a:visited,
.intro a:link, .intro a:visited
{
  color: #333;
  opacity: 1;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 0.25vw;
  transition: all cubic-bezier(0.2, 0.2, 0.1, 0.6) 0.2s;
}

.clients a:hover, .intro a:hover, .about-area a:hover
{
  border-bottom: 1px solid rgba(0,0,0,0.4);
  padding-bottom: 0.25vw;
}

.desc-container a:link, .desc-container a:visited {
	border: 1px solid #eaeaea;
  transition: all cubic-bezier(0.2, 0.2, 0.1, 0.6) 0.2s;
	text-decoration: none;
	color: #333;
	margin-top: 2.5vw;
	display: inline-block;
	padding: 0.5vw 2vw 0.7vw;
}

.desc-container a:hover {
	  border: 1px solid rgba(0,0,0,0.4);
} 


.play-feat {
  padding: 15vw 0 15vw 0;
  padding: 32vw 0 7.5vw 0;
  cursor: pointer;
  overflow: hidden;
}

.play-feat .half {
  color: #929292 !important;
  opacity: 1;
}

.play-gif {
  position: absolute;
  z-index: -1;
  width: 42.5%;
  right: 0;
  top: 0;
  bottom: 0; 
  left: 0;
  display: table;
  margin: auto;
  opacity: 0;
}

.play-feat:hover .play-gif {
  opacity: 1;
}

.nav {
  width: 90%;
  margin: 0 auto;
}

.nav h1 {
  font-size: 3.75vw;
  display: inline-block;
  margin-right: 7.5vw;
}

.nav h1 {
  opacity: 0.5;
}

.selected {
  opacity: 1 !important;
}

.desk {
  display: block;
}

.last-extra {
  padding: 10vw 0 12.5vw 0;
}

.bot {
  margin-bottom: 17.5vw;
}


.specimen {
	width: 100%;
	position: relative;
}

.spec-row {
	display: block;
	clear: both;
	overflow: hidden;
	position: relative;
	display: flex;
}

.border-top {
		border-top: 1px solid #eaeaea;
}

.border-left {
		border-left: 1px solid #eaeaea;
}

.border-right {
		border-right: 1px solid #eaeaea;
}

.border-bottom {
		border-bottom: 1px solid #eaeaea;
}

.spec-tile {
	width: 16.66%;
	height: 13vw;
	position: relative;
	float: left;
	transition: all cubic-bezier(0.2, 0.2, 0.1, 0.6) 0.2s;
}

.spec-tile h1 {
	position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  display: table;
  text-align: center;
  top: 0;
  bottom: 0;
	font-size: 4vw;
	transition: all cubic-bezier(0.2, 0.2, 0.1, 0.6) 0.2s;
}

.spec-text h1 {
  text-align: left;
	font-size: 3vw;
	line-height: 4.75vw;
	width: 100%;
}

.type-besp-one {
	font-family: BespokeOne;
}
.type-besp-two {
	font-family: BespokeTwo;
}
.type-besp-three {
	font-family: BespokeThree;
}

.spec-nav h1 {
  font-size: 1.5vw;
  opacity: 0.4;
	display: inline-block;
	margin: 0 2.25vw 5vw 0;
	line-height: 3vw;
	cursor: pointer;
	transition: all cubic-bezier(0.2, 0.2, 0.1, 0.6) 0.2s;
}

.spec-nav h1 {
  border-bottom: 1px solid transparent;
  padding-bottom: 0.25vw;
}

.spec-select {
  border-top: 3px solid #333 !important;
/*  opacity: 0.8 !important;*/
}

.spec-select h1, .nav-select h1 {
	opacity: 1 !important;
}

.spec-nav h1:hover {
	opacity: 0.8;
	border-bottom: 1px solid rgba(0,0,0,0.4);
}

.anticv-header {
	font-size: 6vw;
	line-height: 8vw;
	color: white;
	padding: 22vw 0 22vw;
	text-align: center;
}

.exp-top {
	border: 1px solid #eaeaea;
	position: relative;
	height: 35vw;
}

.exp-slide1, 
.exp-slide2,
.exp-slide3, 
.exp-slide4,
.exp-slide5, 
.exp-slide6,
.exp-top-content, 
.exp-bot {
	width: 100%;
	height: 103%;
	position: relative;
}

.exp-slide1, 
.exp-slide2,
.exp-slide3, 
.exp-slide4,
.exp-slide5, 
.exp-slide6 {
	position: absolute;
}

.exp-nav {
	width: 100%;
	text-align: center;
	display: flex;
	position: relative;
	transition: all cubic-bezier(0.2, 0.2, 0.1, 0.6) 0.2s;
}

.exp-nav-hover {
	position: absolute;
	width: 100%;
	z-index: 6;
}

.nav-item {
	width: 20%;
	margin: 0;
	text-align: center;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	padding: 1.5vw 0 1.5vw 0;
	cursor: pointer;
	z-index: 4;
}

.spec-nav {
	position: static;
}

.besp-1, .besp-2, .besp-3 {
	width: 33.33%;
	border-top: 3px solid transparent;
	transition: all cubic-bezier(0.2, 0.2, 0.1, 0.6) 0.2s;
}

.besp-1 {
	border-left: 1px solid #eaeaea;
	border-bottom: none !important;
}

.besp-2, .besp-3 {
	border-bottom: none;
}

.besp-3 {
	border-right: 1px solid #eaeaea;
}

.nav-item h1, .step-desc {
	opacity: 0.5;
	transition: all cubic-bezier(0.2, 0.2, 0.1, 0.6) 0.2s;
	font-size: 1.15vw;
}

.nav-item:hover h1 {
	opacity: 1;
}

.exp-slide1 h1, .exp-slide2 h1, .exp-slide5 h1  {
	font-size: 4.5vw;
	position: absolute;
	left: 0; 
	right: 0; 
	top: 0; 
	bottom: 0;
	margin: auto;
	display: table;
	width: 40vw;
	text-align: center;
}

.exp-slide5 h1 {
	width: 70vw;
}

.exp-slide2 h1 {
	width: 65vw;
}

.exp-slide3 img {
	width: 50vw;
	position: absolute;
	left: 0; right: 0;
	bottom: 0; top: 0;
	margin: auto;
}

.exp-slide4 img {
	width: 65vw;
	position: absolute;
	left: 0; right: 0;
	bottom: 0; top: 0;
	margin: auto;
}

.exp-bot {
	border-left: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	height: auto;
	box-sizing: border-box;
	padding: 3.5vw 0 3.5vw 3.5vw;
}

.exp-bot-left, .exp-bot-right {
	display: inline-block;
	vertical-align: top;
}

.exp-bot-left {
	width: 25%;
}

.exp-bot-right {
	width: 50%;
}

.step-title {
	padding-bottom: 1vw;
}

.step-title, .step-desc, .step-num {
		font-size: 1.15vw;
}

.status {
	width: 20%;
	height: 3px;
	background-color: #333;
	position: absolute;
	left: 0; right: 0; top: 0;
	z-index: 10;
}

.carrot {
	width: 1.25vw;
	height: 1.25vw;
	position: absolute;
	top: 0;right: 0; bottom: 0; left: 0;
	margin: auto;
	display: table;
}

.left-arrow {
	width: 5vw;
	height: 5vw;
	border-radius: 100%;
	background-color: white;
	border: 1px solid #eaeaea;
	position: absolute;
	left: -2.6vw;
	top: 0;
	bottom: 0;
	margin: auto;
	transition: all cubic-bezier(0.2, 0.2, 0.1, 0.6) 0.2s;
	z-index: 10;
	cursor: pointer;
	display: none;
}

.left-arrow .carrot {
	transform: rotate(180deg);
}

.right-arrow {
	width: 5vw;
	height: 5vw;
	border-radius: 100%;
	background-color: white;
	border: 1px solid #eaeaea;
	position: absolute;
	right: -2.6vw;
	top: 0;
	bottom: 0;
	margin: auto;
	transition: all cubic-bezier(0.2, 0.2, 0.1, 0.6) 0.2s;
	z-index: 10;
	cursor: pointer;
	display: none;
}

.right-arrow:hover, .left-arrow:hover {
	border: 1px solid #B2B2B2;
}

.right-arrow .carrot {
	right: -0.15vw;
}

.browser {
	width: 100%;
}

.browser img {
  -webkit-transition: all cubic-bezier(0.8, 0.2, 0.1, 1) 2s;
  transition: all cubic-bezier(0.8, 0.2, 0.1, 1) 2s;
}

.browser-container {
	height: 42.5vw;
	overflow: hidden;
	margin-top: -0.25vw;
	border-right: 2px solid #DFDFDC;
	border-left: 2px solid #DFDFDC;
	border-bottom: 2px solid #DFDFDC;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.window {
	width: 100%;
	height: 2.5vw;
	background-color: #DFDFDC;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.daryl-move0 {
	transform: translateY(0vw);
}

.daryl-move1 {
	transform: translateY(-43.5vw);
}

.daryl-move2 {
	transform: translateY(-87vw);
}

.daryl-move3 {
	transform: translateY(-152vw);
}

.daryl-move4 {
	transform: translateY(-260vw);
}

.logo {
	height: 20vw;
	width: 15vw;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	margin: auto;
	display: table;
	transform-origin: left center;
  -webkit-transition: all cubic-bezier(0.8, 0.2, 0.1, 1) 1s;
  transition: all cubic-bezier(0.8, 0.2, 0.1, 1) 1s;
	
	transform: rotate(35deg);
}

.denv-anim {
	position: relative;
	height: 53vw;
	background-color: #F6F6F4;
}

.arm1, .arm3, .arm2 {
	position: absolute;
	width:0vw !important;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	opacity: 0;
  -webkit-transition: all cubic-bezier(0.8, 0.2, 0.1, 1) 0.4s;
  transition: all cubic-bezier(0.8, 0.2, 0.1, 1) 0.4s;
}

.denv-text {
  font-family: 'graphik-web';
  font-size: 7vw;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 38vw;
  display: table;
	
	transform: translateX(5vw) scale(0.9);
	opacity: 0;
  -webkit-transition: all cubic-bezier(0.4, 0.2, 0.1, 1) 0.8s;
  transition: all cubic-bezier(0.4, 0.2, 0.1, 1) 0.8s;
}

.text-show {
	transform: translateX(0vw) scale(1);
	opacity: 1;
}

.logo-in {
	transform: rotate(0);
}

.arm2 {
	transform: rotate(90deg) !important;
	bottom: 0;
	right: unset;
}

.arm3 {
	bottom: 0;
	top: unset;
}

.arm-show {
	width: 2.6vw !important;
	opacity: 1;
}

.arm-show2 {
		width: 2.6vw !important;
		opacity: 1;
}

.logo-scale {
	transform: scale(0.6) translateX(-22vw);
}

.denv-vid {
	width: 100%;
	height: 27vw;
	background-color: #F6F6F4;
}

.denv-mask1 {
	width: 21vw;
	height: 22vw;
	position: absolute;
	left: 0; right: 0; bottom: 0; top: 0;
	margin: auto;
	display: table;
	overflow: hidden;
}

.denv-mask2 {
	width: 40vw;
	height: 24vw;
	position: absolute;
	left: 0; right: 0; bottom: 0; top: 0;
	margin: auto;
	display: table;
	overflow: hidden;
}

.denv-col1 .reg-vid {
  width: 21vw;
  left: 0;
  position: absolute;
  right: 0;
  margin: auto;
}

.denv-col2 .reg-vid {
  width: 39vw;
  left: 0;
  position: absolute;
  right: 0;
  margin: auto;
	top: 0;
	bottom: 0;
}

.denv-col1 {
	width: 33.33%;
}

.denv-col2 {
	width: 60%;
}

.zf-personas, .flex {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: relative;
}

.persona {
	width:22%;
	float: left;
	box-sizing: border-box;
	border: 1px solid #eaeaea;
	padding: 3vw;
	position: relative;
	border-radius: 10px;
}



.persona h2 {
	font-size: 0.8vw;
	text-transform: uppercase;
	letter-spacing: 0.2vw;
	opacity: 0.5;
	padding-bottom: 0.75vw;
}

.persona p {
	font-size: 1vw;
	line-height: 1.5vw;
}

.persona-block {
	margin-top: 2.5vw;
}

.folk-phone {
	width: 26% !important;
	margin: 0 auto;
	display: block;
}

.folk-brand-img img {
	width: 75%;
	margin: 0 auto;
	display: block;
	margin-top: 15vw;
}

.folk-desk {
	width: 100% !important;
	margin: 0 auto;
	display: block;
}


@media (max-width: 600px) { 
	
	.mob-hide {
		display: none !important;
	}
	
	.folk-phone {
		width: 65% !important;
	}
	
  .col-half, .col-quart, .col-most, .desc-container, .caro, .portrait {
    width: 100%;
    display: block;
  }
  .caro {
    margin-bottom: 5vw;
  }
  .container {
    width: 90%;
  }
  .outside {
    margin-top: 6vw;
    margin-bottom: 20vw;
  }
  .col-half {
    margin-bottom: 6vw;
  }
  .image-cred {
    opacity: 1 !important;
    transform: translateY(0) !important;
    max-width: none;
    padding-left: 0;
  }
  .image-cred p, .desc-container p, .image-cred h1, .image-cred p, 
  .desc-container p, .about-area p, .desc p, .persona p
  {
    padding-top: 1.5vw;
    line-height: 6vw;
    font-size: 3.75vw;
    padding-left: 0;
  }
  .image-cred h1, .desc-container h1, 
    .desc-container h1, .about-area h1, .desc h1,
		.persona h1
  {
    line-height: 6vw;
    font-size: 5vw;
  }
  .left, .right {
    float: none;
  }
  .main, .last {
    padding-top: 0vw;
  }
  .intro h1 {
    font-size: 7vw;
    line-height: 9.5vw;
    width: 95%;
  }
  .intro {
    padding-bottom: 17.5vw;
    padding-top: 48vw;
  }
  .menu-img {
    display: none;
  }
  .mob {
    display: block;
  }
  .menu-img {
    position: absolute;
    top: 10vw !important;
    left: 0;
    opacity: 1;
    width: 12vw;
    z-index: 1;
    display: none;
  }
  .image-cred {
   position: static;
  }
  .caro-cont:after {
    content: '';
  }
  .image-cred {
    padding: 5vw 0 10vw 0;
  }
  .image-cred p {
    padding-top: 2vw !important;
  }
  .play-gif {
    width: 68%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: table;
    margin: auto;
    opacity: 1;
  }
  .menu-move {
    width: 100%;
  }
  .menu h1 {
    font-size: 6.5vw;
    line-height: 11vw;
    margin-right: 0;
    text-align: left;
    margin-left: 5vw;
    transform: translateX(0);
  }
  .menu h1:first-of-type {
    margin-top: 40vw;
  }
  .desk {
    display: none;
  }
  .about-area .col-half, .desc .col-half {
    width: 100%;
    float: none;
  }
  .desc-container {
    padding: 25vw 0 25vw 0;
  }
  .about-area, .desc {
    margin-top: 17.5vw;
  }
  .desc h1, .desc .clients, .about-area h1 {
    margin-bottom: 6vw;
  }
  .portrait {
    margin-top: 0;
  }
	.spec-nav h1 {
		padding-bottom: 3.25vw;
		font-size: 3.5vw;
	}
	.spec-tile {
		flex: 5;
		flex-basis: 25%;
		height: 28.5vw;
		border: 1px solid #eaeaea;
	}
	.spec-tile h1 {
		font-size: 7vw;
	}
	.spec-row {
		flex-flow: row wrap;
	}
	.nav-item {
		padding-top: 6vw;
		padding-bottom: 6vw;
	}
	.nav-item h1, .step-title, .step-desc, .step-num {
		font-size: 3.75vw;
	}
	.exp-top {
		height: 90vw;
	}
	.exp-bot-left, .exp-bot-right {
		width: 100%;
		display: block;
	}
	.exp-bot {
		padding: 10vw;
	}
	.step-num {
		margin-bottom: 5vw;
	}
	.step-title {
		margin-bottom: 2vw;
	}
	.step-desc {
		line-height: 5vw;
	}
	.exp-slide1, .exp-slide2, .exp-slide3, .exp-slide4, .exp-slide5, .exp-slide6, .exp-top-content, .exp-bot {
		height: 109%;
	}
	.exp-container {
		display: none;
	}
	.desc-container a:link, .desc-container a:visited {
	  font-size: 3.75vw;
	  padding: 4vw;
	  margin-top: 8vw;
	}
	.persona {
		width: 100%;
		display: block;
		float: none;
		padding: 13vw;
		margin-bottom: 10vw;
	}
	.zf-personas {
		display: block;
	}
	.persona h2 {
		font-size: 2.8vw;
		padding-bottom: 2.75vw;
	}
	.persona-block {
		margin-top: 6.5vw;
	}
}


.show {
  opacity:1 !important;
  transform: translateY(0) !important;
}

.hide {
  opacity: 0;
}


